USE [master]
GO
/****** Object:  Database [TraSuaNgonDB]    Script Date: 7/13/2026 10:21:38 PM ******/
CREATE DATABASE [TraSuaNgonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TraSuaNgonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TraSuaNgonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TraSuaNgonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TraSuaNgonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TraSuaNgonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TraSuaNgonDB]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[ImageURL] [nvarchar](255) NOT NULL,
	[LinkURL] [nvarchar](255) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Facebook] [nvarchar](255) NULL,
	[Zalo] [nvarchar](255) NULL,
	[MapEmbed] [nvarchar](max) NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Subject] [nvarchar](255) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MinimumQuantity] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLogs]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[QuantityChanged] [int] NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Summary] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[Author] [nvarchar](100) NULL,
	[IsFeatured] [bit] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[SubTotal]  AS ([Quantity]*[UnitPrice]),
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetailToppings]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetailToppings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[ToppingID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[ShippingAddress] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[ReceiverName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[PriceM] [decimal](10, 2) NOT NULL,
	[PriceL] [decimal](10, 2) NOT NULL,
	[IsNew] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsFeatured] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toppings]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toppings](
	[ToppingID] [int] IDENTITY(1,1) NOT NULL,
	[ToppingName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ToppingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/13/2026 10:21:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Status]) VALUES (1, N'Trà sữa', NULL, 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Status]) VALUES (2, N'Trà trái cây', NULL, 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Status]) VALUES (4, N'Cà phê', N'thu thôi', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Title], [Summary], [Content], [ImageURL], [Author], [IsFeatured], [Status], [CreatedDate]) VALUES (1, N'Ra mắt Trà sữa Hokkaido phiên bản mới', N'Hương vị béo thơm chuẩn Nhật Bản đã có mặt tại Trà Sữa NGON.', N'Trà sữa Hokkaido được làm từ sữa tươi cao cấp kết hợp trà đen đậm vị, mang đến trải nghiệm hoàn toàn mới cho khách hàng.', N'news1.jpg', N'Admin', 1, 1, CAST(N'2026-07-11T05:32:29.487' AS DateTime))
INSERT [dbo].[News] ([NewsID], [Title], [Summary], [Content], [ImageURL], [Author], [IsFeatured], [Status], [CreatedDate]) VALUES (2, N'Ưu đãi sinh viên giảm 20%', N'Giảm ngay 20% cho học sinh, sinh viên khi xuất trình thẻ.', N'Chương trình áp dụng từ thứ Hai đến thứ Sáu tại tất cả chi nhánh.', N'news2.jpg', N'Admin', 0, 1, CAST(N'2026-07-11T05:32:29.487' AS DateTime))
INSERT [dbo].[News] ([NewsID], [Title], [Summary], [Content], [ImageURL], [Author], [IsFeatured], [Status], [CreatedDate]) VALUES (3, N'Mua 2 tặng 1 mỗi cuối tuần', N'Áp dụng vào thứ Bảy và Chủ Nhật hàng tuần.', N'Khách hàng mua bất kỳ 2 ly trà sữa size L sẽ được tặng thêm 1 ly cùng loại.', N'news3.jpg', N'Admin', 0, 1, CAST(N'2026-07-11T05:32:29.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Size], [UnitPrice]) VALUES (1, 2, 2, 2, N'M', CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Size], [UnitPrice]) VALUES (2, 3, 5, 2, N'M', CAST(48000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Size], [UnitPrice]) VALUES (3, 4, 1, 2, N'L', CAST(42000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetailToppings] ON 

INSERT [dbo].[OrderDetailToppings] ([ID], [OrderDetailID], [ToppingID], [Quantity], [Price]) VALUES (1, 1, 5, 1, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetailToppings] ([ID], [OrderDetailID], [ToppingID], [Quantity], [Price]) VALUES (2, 2, 5, 1, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetailToppings] ([ID], [OrderDetailID], [ToppingID], [Quantity], [Price]) VALUES (3, 3, 4, 1, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetailToppings] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [ShippingAddress], [Phone], [Note], [Status], [CustomerName], [ReceiverName]) VALUES (1, 5, CAST(N'2026-07-12T13:01:04.307' AS DateTime), CAST(80000.00 AS Decimal(10, 2)), N'SG', N'0123456589', N'sau khi kết nối csdl', N'Chờ xác nhận', N'Test hoàn chỉnh', N'Test hoàn chỉnh')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [ShippingAddress], [Phone], [Note], [Status], [CustomerName], [ReceiverName]) VALUES (2, 5, CAST(N'2026-07-12T13:05:22.667' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), N'SG', N'0123456589', N'', N'Chờ xác nhận', N'Test hoàn chỉnh', N'Test hoàn chỉnh')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [ShippingAddress], [Phone], [Note], [Status], [CustomerName], [ReceiverName]) VALUES (3, 4, CAST(N'2026-07-12T13:09:27.333' AS DateTime), CAST(96000.00 AS Decimal(10, 2)), N'HN', N'0123456789', N'test 2', N'Chờ xác nhận', N'Ngọc', N'Ngọc')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Description], [ImageURL], [PriceM], [PriceL], [IsNew], [IsBestSeller], [Status], [CreatedDate], [IsFeatured]) VALUES (1, 1, N'Trà sữa truyền thống', N'Vị trà đậm đà kết hợp với sữa, là hương vị cơ bản và phổ biến nhất.', N'trasua-truyenthong.jpg', CAST(30000.00 AS Decimal(10, 2)), CAST(35000.00 AS Decimal(10, 2)), 0, 0, 1, CAST(N'2026-07-10T21:39:41.287' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Description], [ImageURL], [PriceM], [PriceL], [IsNew], [IsBestSeller], [Status], [CreatedDate], [IsFeatured]) VALUES (2, 1, N'Trà sữa trân châu đường đen', N'Nổi bật với sốt đường đen dẻo, ngọt thanh bám quanh thành ly cùng trân châu dai mềm.', N'trasua-tranchau-duongden.jpg', CAST(35000.00 AS Decimal(10, 2)), CAST(40000.00 AS Decimal(10, 2)), 0, 1, 1, CAST(N'2026-07-10T21:39:41.287' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Description], [ImageURL], [PriceM], [PriceL], [IsNew], [IsBestSeller], [Status], [CreatedDate], [IsFeatured]) VALUES (3, 1, N'Trà sữa thái xanh', N'Có màu xanh đặc trưng, hương thơm thảo mộc dịu nhẹ.', N'trasua-thaixanh.jpg', CAST(32000.00 AS Decimal(10, 2)), CAST(37000.00 AS Decimal(10, 2)), 0, 0, 1, CAST(N'2026-07-10T21:39:41.287' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Toppings] ON 

INSERT [dbo].[Toppings] ([ToppingID], [ToppingName], [Price], [ImageURL], [Status], [CreatedDate]) VALUES (1, N'Trân châu đen', CAST(5000.00 AS Decimal(10, 2)), N'tranchau-den.jpg', 1, CAST(N'2026-07-10T21:45:27.650' AS DateTime))
INSERT [dbo].[Toppings] ([ToppingID], [ToppingName], [Price], [ImageURL], [Status], [CreatedDate]) VALUES (2, N'Trân châu trắng', CAST(5000.00 AS Decimal(10, 2)), N'tranchau-trang.jpg', 1, CAST(N'2026-07-10T21:45:27.650' AS DateTime))
INSERT [dbo].[Toppings] ([ToppingID], [ToppingName], [Price], [ImageURL], [Status], [CreatedDate]) VALUES (3, N'Pudding', CAST(7000.00 AS Decimal(10, 2)), N'pudding.jpg', 1, CAST(N'2026-07-10T21:45:27.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[Toppings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Phone], [Address], [Role], [Status], [CreatedDate]) VALUES (1, N'Loan', N'anc@gmail.com', N'123456', N'0123456789', N'12 ABC', N'User', 1, CAST(N'2026-07-12T04:29:09.830' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Phone], [Address], [Role], [Status], [CreatedDate]) VALUES (2, N'AnAn', N'anan@gmail.coom', N'123456789', N'0123456789', N'HN', N'Customer', 1, CAST(N'2026-07-12T05:42:22.800' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Phone], [Address], [Role], [Status], [CreatedDate]) VALUES (3, N'Admin Trà Sữa NGON', N'admin@gmail.com', N'123456', N'0909999999', N'TP.HCM', N'Admin', 1, CAST(N'2026-07-12T05:45:29.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E08CF95C02]    Script Date: 7/13/2026 10:21:39 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534317F6764]    Script Date: 7/13/2026 10:21:39 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((10)) FOR [MinimumQuantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[InventoryLogs] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderDetailToppings] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Chờ xác nhận') FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsNew]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsBestSeller]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Toppings] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Toppings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLogs_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[InventoryLogs] CHECK CONSTRAINT [FK_InventoryLogs_Inventory]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[OrderDetailToppings]  WITH CHECK ADD  CONSTRAINT [FK_ODT_OrderDetail] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[OrderDetails] ([OrderDetailID])
GO
ALTER TABLE [dbo].[OrderDetailToppings] CHECK CONSTRAINT [FK_ODT_OrderDetail]
GO
ALTER TABLE [dbo].[OrderDetailToppings]  WITH CHECK ADD  CONSTRAINT [FK_ODT_Topping] FOREIGN KEY([ToppingID])
REFERENCES [dbo].[Toppings] ([ToppingID])
GO
ALTER TABLE [dbo].[OrderDetailToppings] CHECK CONSTRAINT [FK_ODT_Topping]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetails_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetails_Quantity]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_PriceL] CHECK  (([PriceL]>=[PriceM]))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_PriceL]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_PriceM] CHECK  (([PriceM]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_PriceM]
GO
ALTER TABLE [dbo].[Toppings]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
USE [master]
GO
